# =========================
# Data files
# =========================
*.npz
*.h5
*.hdf5
*.dat
*.bin
*.txt

# =========================
# Plots / figures
# =========================
*.png
*.pdf

# =========================
# Logs
# =========================
*.log
*.out
*.err

# =========================
# Einstein Toolkit outputs
# =========================
SIMFACTORY/
output-*/
checkpoints/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# VS Code temporary files
# =========================
tempCodeRunnerFile.*
